<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="DataDirectory" value="Data" />
    <add key="KeysFile" value="keys.txt" />
    <!--<add key="TemplatesFile" value="templates.txt" />
    <add key="Width" value="668" />
    <add key="Height" value="660" />-->
    <add key="jeu1" value="0123456789" />
    <add key="jeu2" value="azerty" />
  </appSettings>
</configuration>
